body {
  margin: 0;
  padding: 0;
  background-color: #f4c95e;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text {
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(58, 52, 52);
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.ans {
  padding-left: 10px;
}

@media (max-width: 768px) {
  .text {
    font-size: 25px;
  }
}
